.white{
    color: white;
}
.bg-primary{
    background-color: #c13838 !important;
}
.center{
    text-align: center;
}
.ui-autocomplete{
    z-index: 9999999;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #c13838 !important;
}
.loading{
    display: none;
}
.blockUI h1{
    color: white !important;
}
.sortable-handler {
    touch-action: none;
}
.required{
    color: red;
}
.hide{
    display: none;
}

.fc .fc-toolbar-title {
    text-transform: uppercase;
}

.pull-right{
    text-align: right;
}

.hand{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .fc .fc-toolbar{
        display: block;
    }

    .block-mobile{
        display: block !important;
    }

    .mobile-w-100{
        width: 100%;  
    }
}