.white{
    color: white;
}
.bg-primary{
    background-color: #c13838 !important;
}
.center{
    text-align: center;
}
.ui-autocomplete{
    z-index: 9999999;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #c13838 !important;
}
.loading{
    display: none;
}
.blockUI h1{
    color: white !important;
}
.sortable-handler {
    touch-action: none;
}
.required{
    color: red;
}