.white{
    color: white;
}
.bg-primary{
    background-color: #c13838 !important;
}
.center{
    text-align: center;
}
.ui-autocomplete{
    z-index: 9999999;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #c13838 !important;
}
.loading{
    display: none;
}
.blockUI h1{
    color: white !important;
}
.sortable-handler {
    touch-action: none;
}
.required{
    color: red;
}
.hide{
    display: none;
}

.fc .fc-toolbar-title {
    text-transform: uppercase;
}

.pull-right{
    text-align: right;
}

.hand{
    cursor: pointer;
}



.dataTables_length label{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.dataTables_info{
    padding: 10px;
}

.dataTables_paginate{
    padding: 10px;
}

.dataTables_filter{
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .fc .fc-toolbar{
        display: block;
    }

    .block-mobile{
        display: block !important;
    }

    .mobile-w-100{
        width: 100%;  
    }

    .blockUI h1{
        font-size: 1rem;
        margin-top: 10px;
    }

    .dataTables_wrapper .col-sm-12{
        padding: 0px;
    }

    .dataTables_length label {
        justify-content: center;
    }
}